@font-face {
    font-family: neuMedium;
    src: url(./fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neuRegular;
    src: url(./fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neuBold;
    src: url(./fonts/NeueHaasDisplayBold.ttf);
}

@font-face {
    font-family: neuMed;
    src: url(./fonts/NeueHaasDisplayMediu.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: neuRegular;
    /* overflow-x: hidden; */
}

#main {
    position: relative;
    z-index: 1;
}

#page1 {
    min-height: 100vh;
    width: 100vw;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw .5vw;
}

#nav_part2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5vw;
    font-family: neuRegular;
}

#nav_part2 h4 {
    padding: 10px 22px;
    border: 1px solid #8d8d8d5a;
    border-radius: 30px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: #313131d5;
    position: relative;
    overflow: hidden;
}

#nav_part2 h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-radius: 50%;
    transition: all ease-in 400ms;
}

#nav_part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav_part2 h4 a {
    color: #000;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav_part2 h4:hover a {
    color: white;
}

#center {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #4f4f4f84;
    padding-bottom: 3.5vw;
}

#left h3 {
    width: 27vw;
    font-size: 1.75vw;
    line-height: 2vw;
    font-family: neuBold;
    letter-spacing: .5px;
}

#right h1 {
    font-family: neuBold;
    font-size: 10.5vw;
    text-transform: uppercase;
    line-height: 8.5vw;
    text-align: end;
}

#page1 video {
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;
    position: relative;
}

#hero_shape {
    position: absolute;
    height: 35vw;
    width: 45vw;
    right: 0;
    top: 80vh;
}

#hero1 {
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation: anime3 7s ease-in-out alternate infinite;
}

#hero2 {
    height: 30vw;
    width: 30vw;
    /* background-color: black; */
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation: anime2 5s ease-in-out alternate infinite;
}

#hero3 {
    height: 30vw;
    width: 30vw;
    /* background-color: black; */
    background-color: #FE320A;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation: anime1 3s ease-in-out alternate infinite;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -5%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, 20%);
    }

    to {
        transform: translate(-5%, -5%);
    }
}

@keyframes anime3 {
    from {
        transform: translate(0%, -5%);
    }

    to {
        transform: translate(0%, 1%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation: move 15s linear infinite;
}

#moving_text {
    white-space: nowrap;
    overflow-x: auto;
}

#moving_text::-webkit-scrollbar {
    display: none;
}

#moving_text h1 {
    font-size: 10vw;
    font-family: neuBold;
    display: inline-block;
}

#round {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2_bottom {
    height: 80vh;
    width: 100%;
    background-color: #efeae3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    position: relative;
    z-index: 9;
    margin-top: 10vh;
}

#page2_bottom h1 {
    font-family: neuBold;
    font-size: 4vw;
    width: 50%;
    line-height: 4vw;
}

#bottom-part2 {
    margin-top: 9vw;
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    margin-top: 2vw;
    line-height: 22px;
}

#bottom_anime {
    height: 30vw;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 25%;
    /* background-color: #FE320A; */
    background: linear-gradient(to top right, #FE320A, #fe780a);
    border-radius: 50%;
    filter: blur(50px);
    z-index: -9;
    animation: bottom_animate 5s infinite alternate ease-in-out;
}

@keyframes bottom_animate {
    from {
        transform: translate(10%, -10%) skew(0)
    }

    to {
        transform: translate(-10%, 10%) skew(-13deg)
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
}

#elem_container {
    padding-top: 5vh;
}

.elem {
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3.95vw 2.5vw;
    border-bottom: 1px solid rgba(117, 117, 117, 0.539);
    overflow: hidden;
}

.elem h2 {
    font-family: neuMed;
    font-size: 3.5vw;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all 300ms ease-in-out;
}

.elem:hover .overlay {
    /* display: block; */
    top: 0;
}

#fixed_image {
    height: 30vw;
    width: 22vw;
    border-radius: 20px;
    position: fixed;
    left: 55%;
    top: 20%;
    z-index: 9;
    display: none;
    background-size: cover;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
}

#page5 {
    min-height: 100vh;
    width: 100%;
}

#footer {
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 7rem;
    padding-left: 2vw;
    padding-right: 2vw;
}

#footer h1 {
    text-align: center;
    font-family: neuBold;
    font-size: 22vw;
}

/* #footer_anime {
    position: relative;
    top: 0;
    height: 40vh;
    width: 100%;
    background-color: #FE320A;
    z-index: -1;
    display: flex;
    filter: blur(3px);
} */

/* #footer_anime1 {
    height: 600px;
    width: 100%;
    background-color: #FE320A;
    filter: blur(30px);
    transform: skewX(-50deg);
} */

/* #footer_anime2 {
    height: 600px;
    width: 100%;
    background-color: #FE320A;
    filter: blur(30px);
} */


#footer_top {
    height: 30vh;
    width: 88%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7rem;
    position: relative;
    top: -10%;
    z-index: 1;
}

#footer_top1 {
    font-family: neuMed;
    font-size: 1.5vw;
    line-height: 6vh;
}

#footer_top2 {
    font-family: neuRegular;
    font-size: 1.25vw;
}

#footer_top2 p {
    word-spacing: 2px;
    padding-bottom: 2rem;
}

#footer_top2 input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.317);
    font-size: 1vw;
    padding-bottom: .75rem;
    width: 100%;
}

#footer_bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.352);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75vw 0;
    font-size: 1.15vw;
}